


/*
--- 01 TYPOGRAPHY SYSTEM

-Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 /

-Font weights*/




* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400 ;
  color: #555;
  line-height: 1;
}


.container {
  margin: 0 12px;
  /* padding: 0 24px; */
}
  
  
   

.header {
  display: flex;
  justify-content: space-between;
  padding:24px 48px;
  align-items: center;
}






.omni {

  height: 24px;
}

.nav-list {
 list-style: none;
 display: flex;
 align-items: center;
  gap: 28px; 
}
  

.nav:link,
.nav:visited {
  text-decoration: none;
  font-size: 18px;
  color: #333333b9;
  font-weight: 600;
  background-color: #f7f7f7;
  padding: 12px 24px;
  border-radius: 9px;
  border: 1px solid #66666600;
  transition: all 0.4s;
}

.nav:hover,
.nav:active {
  color:   #e23030;
}


.nav.nav-cta {
  color:   #ff3636;
}

.logs {
  display: flex;
  gap: 28px;
  align-items: center;
  
}

.log:link,
.log:visited {
  font-size: 18px;
  font-weight: 600;
   color: #333333ab;
   text-decoration: none;
   padding: 12px 24px;
   background-color: #f7f7f7;
   border-radius: 9px;
    border: 2px solid #66666617;
    transition: all 0.4s;
  }
  
  .log:hover,
  .log:active {
    background-color:  #f7f7f72c;
    transform: scale(1);
} 


.sign:link,
.sign:visited {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  padding: 12px 24px;
  background-color:  #ff3636;

  border-radius: 9px;
  transition: all 0.4s;
}

.sign:hover,
.sign:active {
  background-color:  #e23030;
  /* transform: scale(1.1); */
}


/**********SECTION COMMUNITY***********/

.section-communities {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 68px;
  border-top: 1px solid #8080801e;
  padding:24px 48px;
}
  
  


.mission {
  display: inline-block;
  text-decoration: none;
  margin-left: 48px;
  
  
}

.mission:link,
.mission:visited {
  font-size: 18px;
  color:  #ee1325bd;
  font-weight: 700;
  background-color: #a5d8ffc7;
  padding: 12px 24px;
  border-radius: 50px;
  margin-bottom: 12px;
  transition: all 0.4s;
}

.mission:hover,
.mission:active {
  background-color: #bcccd8c0;

}


.head-one {
  font-size: 42px;
  color: #383737e0;
  font-weight: 600;
  margin-bottom: 6px;

}

.head-two {
    font-size: 42px;
  color: #383737e0;
  font-weight: 600;
  margin-bottom: 28px;
  
}

.community-text {
  font-size: 20px;
  font-weight: 500;
  color: #343434ea;
  margin-bottom: 38px;
  line-height: 1.9;
 
}


.btn {
 display: inline-block;
 text-decoration: none;
 
}

.btn:link,
.btn:visited {
  font-size: 16px;
  font-weight: 600;
  padding: 14px 42px;
  border-radius: 9px;
  margin-bottom: 4px;
}

.btn:hover,
.btn:active {
  background-color:  #e23030;
}

.btn--left:link,
.btn--left:visited {
  color:  #fff;
  background-color: #ff3636;
  margin-right: 32px;
  transition: all 0.4s;

}


.btn--left:hover,
.btn--left:active {
  background-color:  #e22525;
}


.btn--right:link,
.btn--right:visited {
   color:#ff3636;
   border: 1px solid#ff3636;
     transition: all 0.4s;
}

.btn--right:hover,
.btn--right:active {
  background-color: #f7f7f736;
     color:#d11e1e;
   border: 1px solid #d11e1e;
}



.hero {
  width: 100%;
}

          /********SECTION PLUSES***********/

.section-pluses {
   
   /* margin: 0 auto; */
   display: flex; 
   justify-content: space-between;
   
   align-items: center;
   text-align: center;
   padding:24px 48px;
   margin: 0 126px 100px 126px;
   border-radius: 9px;
   box-shadow: 2px 2px 2px 3px  #8080805b;
  }
   
 
  
   
  
   

  

 
  

.plus {
  justify-items: center;
}

.number {
  font-size: 20px;
  color: #444;
  font-weight: 700;
  margin-bottom: 16px;
}

.text {
 font-size: 18px;
 color: #666;
 font-weight: 500;

}


           /*******SECTIONN-GRAPE***********/


.section-grape {
  

 
  
  padding:24px 48px;
  margin-bottom: 42px;
  /* background-color: aqua; */
  /* background-color: #55555521; */
  text-align: center;
  
}
 
  



.grape-head {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 18px;
  color: #0d6d7c;
}

.grape-text {
  font-size: 20px;
  font-weight: 500;
  /* margin-bottom: 20px; */
  color: #343434d2;
  margin-bottom: 42px;
  line-height: 1.7;
}

.grape-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 22px;
}
  
  

.grid-container {
  background-color: #55555521;
  box-shadow: 1px 1px 1px 1px #6666660a;
  border-radius: 9px;
  margin-bottom: 28px;
  padding: 24px 28px 48px  28px;
}



.icon {
  
  height: 28px;
  width: 28px;
  padding: 16px;
  background-color: #0f718034;
  margin: 10px 0 36px 0;
  border-radius: 50px;

}

.grid-head {
 font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}

.grid-text {
  font-size: 16px;
  color: #343434b0;
  line-height: 1.6;
  margin-bottom: 42px;
  
}


 
  .grid-link {
    text-decoration: none;
  } 
   
     
    .grid-link:link,
    .grid-link:visited {
     display: inline-block;
      font-size: 16px;
      text-align: center;
      color: #e75353d8;
      font-weight: 600;
      transition: all 0.4s;
    }

    .grid-link:hover,
    .grid-link:active {
    color: #eb2222;
   
    }

            /*******SECTION-doctor**********/


    .section-doctor{
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-content: center;
      padding:24px 48px;
      gap: 68px;
      margin-bottom: 320px;
    }
      
     


    .doctor-head {
       font-size: 24px;
       margin-bottom: 24px;
       font-weight: 700;
       color: #0d6d7c;
       line-height: 1.6;
      }
       
       
         

     .doctor-text {
       font-size: 20px;
       margin-bottom: 18px;
       font-weight: 500;
     }

     .doctor-texts {
       font-size: 20px;
       line-height: 1.6;
       margin-bottom: 82px;
     }



    
.join {
 display: inline-block;
 
}

.btn-join:link,
.btn-join:visited {
  font-size: 16px;
  font-weight: 600;
  padding: 12px 92px;
  border-radius: 9px;
  margin-bottom: 4px;
  text-decoration: none;
  color:  #fff;
  background-color: #ff3636;
  transition: all 0.4s;
}

.btn-join:hover,
.btn-join:active {
  background-color:  #e23030;
}
  


 .image {
  display: block;
} 

.doctor-img {
  width: 75%;
  margin-left: 232px;
  filter:blurr(2),
  opacity(100);
}

 

.doc-img {
     filter:brightness(100%)
     opacity(90%)
    }
   



            /********SECTION FOOTER*********/
  
.footer {
  background-color: #ff3636;
  padding:36px 64px;
  gap: 68px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  /* width: 100vw; */
  margin: 0 auto;
}

  



  
  .email-icon {
    height: 24px;
    width: 24px;
    stroke:  #e4b8b8;
    margin-left: -4px;
  }
  
  .email-icon:hover 
  .email-icon:active {
    color: #fff;
  }
  
    .omnis {
      display: grid;
    }

    
    .omnii {
      margin-bottom: 48px;
      justify-items: flex-start;
      height: 22px;
    }
    
    .email {
      display: flex;
        align-items: center;
        padding: 12px 12px;
        border-radius: 50px;
        margin-bottom: 12px;
        border: 1px solid #e45b5b;
        transition: all 0.4s;
        cursor: pointer;
      }

       .email:hover,
      .email:active {
        border: 1px solid #ffffffa1;

      }


        
      .emails {
        margin-left: 4px;
      }
      
      .emails:link,
      .emails:visited {
        text-decoration: none;
        color:  #e4abab;
        font-size: 16px;
         transition: all 0.4s;
        cursor: pointer;
      }
      
      .emails:hover,
      .emails:active {
        color:  #ffffffb7; 
       
      }
      
      
      
      .subs {
        display: inline-block;
        text-align: start;
        margin-top: 24px;
      }
      
      .sub:link,
      .sub:visited {
        background-color: #ffffffd2;
        color:#ff3636ef;
        padding: 12px 24px;
        margin-right: 300px;
        border-radius: 50px;
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
        transition: all 0.4s;
      }

       .sub:hover,
       .sub:active {
        background-color: #fff;
      }
      
      
      .main-nav {
        justify-items: flex-start;
      }
  
  .nav-listt {
    list-style: none;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 28px;
    margin-left: 86px;
  }
  
  
  .footer-company {
    font-size: 26px;
    color: #fff;
    margin-bottom: 42px;
    font-weight: 500;
    text-align: center;
  }
  
  
  .nav-linkk:link, 
  .nav-linkk:visited {
    text-decoration: none;
    color: #ffffff8c;
    font-size: 18px;
   transition: all 0.4s;
  }

  
  
  .nav-linkk:hover, 
  .nav-linkk:active {
    color: #ffffffea;
   
  }
  
  .social-icon {
    height: 36px;
    width: 36px;
    border: 1px solid #e77676;
  background-color: #ff3636e0;
  padding: 12px;
  border-radius: 50px;
  transition: all 0.4s;
}

 
    .social-icon:hover, 
    .social-icon:active {
    border: 1px solid #ffffffe3;
    }

 
    .social-list {
      list-style: none;
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: center;
      margin-left: 200px;
    }
  
  .social-link:link, 
  .social-link:visited {
       color: #fff;
     } 
     
     
     .footer-text {
       font-size: 16px;
       color: #d4b1b1;
       padding: 24px;
       
     }
    
        
    
      
   



        
     
      
      
      
    



   


    



 

